<html>
  <head>
    <title>Restaurant POS</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <h1>POS SYSTEM</h1>

    <script charset="utf-8" src='/javascripts/lib/jquery.js'></script>
    <script charset="utf-8" src='/javascripts/lib/underscore.js'></script>
    <script charset="utf-8" src='/javascripts/lib/backbone.js'></script>
    <script charset="utf-8" src='/javascripts/app.js'></script>
  </body>
</html>
