<html>
  <head>
    <title>Restaurant POS</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='http://fonts.googleapis.com/css?family=Orbitron:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <h1>POS SYSTEM</h1>
    </header>


    <script charset="utf-8" src='/javascripts/lib/jquery.js'></script>
    <script charset="utf-8" src='/javascripts/lib/underscore.js'></script>
    <script charset="utf-8" src='/javascripts/lib/backbone.js'></script>
    <script charset="utf-8" src='/javascripts/app.js'></script>
  </body>
</html>
