<html>
  <head>
    <title>Restaurant POS</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='http://fonts.googleapis.com/css?family=Orbitron:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <h1>Restaurant Name</h1>

    <section>
      <h2>POS SYSTEM</h2>
      <h3>Log In</h2>
      <form class="log-in" action="index.html" method="post">
        <input class="log-form" type="text" name="name" value="" placeholder="...username"><br>
        <input class="log-form" type="text" name="name" value="" placeholder="...password"><br>
        <input class="log-button" type="submit" name="name" value="submit">
        <a href="sign_up">sign up</a>
      </form>
    </section>

    <script charset="utf-8" src='/javascripts/lib/jquery.js'></script>
    <script charset="utf-8" src='/javascripts/lib/underscore.js'></script>
    <script charset="utf-8" src='/javascripts/lib/backbone.js'></script>
    <script charset="utf-8" src='/javascripts/app.js'></script>
  </body>
</html>
