body{
  margin: 0px;
  background-color: rgba(17, 15, 15, .8);
}
header{
  width: 100%;
  height: 50px;
  text-align: left;
  padding-left: 10px;
  background-color: lightgray;
}
section form{
  display: inline-block;
  float: right;
}
section .logout{
  height: 30px;
  width: 100px;
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  border-radius: 5px;
  background-color: lightgray;
}
section .logout:hover{
  height: 30px;
  width: 100px;
  font-size: 16px;
  font-family: Arial;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(73, 170, 244);
}
section{
  width: 90%;
  height: 600px;
  border-radius: 10px;
  margin: 25px auto 0px;
  box-shadow: 0px 0px 6px 2px black;
  background-color: white;
}
.food-section{
  width: 100%;
  height: 75px;
  border-bottom: solid 2px gray;
}
.food-section p{
  display: inline-block;
  font-size: 12px;
}
.foods{
  border-radius: 20px;
}
.parties{
  width: 100px;
  height: 518px;
  border-right: solid 2px gray;
}
