body{
  margin: 0px;
  padding: 0px;
  background-color: rgba(17, 15, 15, .8);
  color: white;
  text-align: center;
}
h1{
  font-family: sans-serif;
  margin-top: 40px;
  font-size: 50px;
}
section{
  width: 35%;
  height: 350px;
  background-color: rgba(255, 252, 252, .5);
  margin: 40px auto;
  border-radius: 2%;
}
section h2, h3{
  position: relative;
  font-family: 'Orbitron', sans-serif;
  top: 35px;
  font-size: 28px;
  line-height: 10px;
}

form{
  width: 60%;
  margin: 0px auto;
  position: relative;
  top: 50px;
}
.log-form{
  width: 90%;
  height: 50px;
  margin-bottom: 15px;
  font-size: 24px;
  border-radius: 5px;
}
.log-form:hover{
  box-shadow: inset 0px 0px 5px 0px black;
}
.log-button{
  float: right;
  position: relative;
  right: 20px;
  width: 30%;
  font-size: 22px;
}
